.page-body {
  background-image: url("https://github.com/rubikvn2100/personal_website/blob/main/public/UCLA_background_page.jpg?raw=true");
  background-size: cover;
  width: 100vw;
}

/* .page-body > img {
  width: 100%;
} */
